In [3]:
import pandas as pd
import janitor

In [4]:
df = pd.read_csv('Project_3\Olympic_Data_History\olympic_medals.csv')
df_medals = (df
      .clean_names()  # Standardize column names
      .drop_duplicates()  # Remove duplicate rows
      .fillna(method='ffill')  # Fill missing values
     )

print(df_medals.head())

  discipline_title     slug_game    event_title event_gender medal_type  \
0          Curling  beijing-2022  Mixed Doubles        Mixed       GOLD
1          Curling  beijing-2022  Mixed Doubles        Mixed       GOLD
2          Curling  beijing-2022  Mixed Doubles        Mixed     SILVER
3          Curling  beijing-2022  Mixed Doubles        Mixed     SILVER
4          Curling  beijing-2022  Mixed Doubles        Mixed     BRONZE

  participant_type participant_title  \
0         GameTeam             Italy
1         GameTeam             Italy
2         GameTeam            Norway
3         GameTeam            Norway
4         GameTeam            Sweden

                                         athlete_url     athlete_full_name  \
0  https://olympics.com/en/athletes/stefania-cons...  Stefania CONSTANTINI
1      https://olympics.com/en/athletes/amos-mosaner          Amos MOSANER
2  https://olympics.com/en/athletes/kristin-skaslien      Kristin SKASLIEN
3  https://olympics.com/en/athletes/magnus-nedreg...    Magnus NEDREGOTTEN
4     https://olympics.com/en/athletes/almida-de-val         Almida DE VAL

  country_name country_code country_3_letter_code
0        Italy           IT                   ITA
1        Italy           IT                   ITA
2       Norway           NO                   NOR
3       Norway           NO                   NOR
4       Sweden           SE                   SWE

<>:1: DeprecationWarning: invalid escape sequence '\O'
<>:1: DeprecationWarning: invalid escape sequence '\O'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\2321739528.py:1: DeprecationWarning: invalid escape sequence '\O'
  df = pd.read_csv('Project_3\Olympic_Data_History\olympic_medals.csv')
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\2321739528.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  .fillna(method='ffill')  # Fill missing values

In [5]:
df = pd.read_csv('Project_3\Olympic_Data_History\olympic_hosts.csv')
df_hosts = (df
      .clean_names()  # Standardize column names
      .drop_duplicates()  # Remove duplicate rows
      .fillna(method='ffill')  # Fill missing values
     )

print(df_hosts.head())

          game_slug         game_end_date       game_start_date  \
0      beijing-2022  2022-02-20T12:00:00Z  2022-02-04T15:00:00Z
1        tokyo-2020  2021-08-08T14:00:00Z  2021-07-23T11:00:00Z
2  pyeongchang-2018  2018-02-25T08:00:00Z  2018-02-08T23:00:00Z
3          rio-2016  2016-08-21T21:00:00Z  2016-08-05T12:00:00Z
4        sochi-2014  2014-02-23T16:00:00Z  2014-02-07T04:00:00Z

        game_location         game_name game_season  game_year
0               China      Beijing 2022      Winter       2022
1               Japan        Tokyo 2020      Summer       2020
2   Republic of Korea  PyeongChang 2018      Winter       2018
3              Brazil          Rio 2016      Summer       2016
4  Russian Federation        Sochi 2014      Winter       2014

<>:1: DeprecationWarning: invalid escape sequence '\O'
<>:1: DeprecationWarning: invalid escape sequence '\O'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\831081746.py:1: DeprecationWarning: invalid escape sequence '\O'
  df = pd.read_csv('Project_3\Olympic_Data_History\olympic_hosts.csv')
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\831081746.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  .fillna(method='ffill')  # Fill missing values

In [6]:
df = pd.read_csv('Project_3\Olympic_Data_History\olympic_results_2.csv')
df_results = (df
      .clean_names()  # Standardize column names
      .drop_duplicates()  # Remove duplicate rows
      .fillna(method='ffill')  # Fill missing values
     )

print(df_results.head())

<>:1: DeprecationWarning: invalid escape sequence '\O'
<>:1: DeprecationWarning: invalid escape sequence '\O'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1524277613.py:1: DeprecationWarning: invalid escape sequence '\O'
  df = pd.read_csv('Project_3\Olympic_Data_History\olympic_results_2.csv')

  discipline_title    event_title     slug_game participant_type medal_type  \
0          Curling  Mixed Doubles  beijing-2022         GameTeam       GOLD
1          Curling  Mixed Doubles  beijing-2022         GameTeam     SILVER
2          Curling  Mixed Doubles  beijing-2022         GameTeam     BRONZE
3          Curling  Mixed Doubles  beijing-2022         GameTeam     BRONZE
4          Curling  Mixed Doubles  beijing-2022         GameTeam     BRONZE

                                            athletes  rank_equal  \
0  [('Stefania CONSTANTINI', 'https://olympics.co...       False
1  [('Kristin SKASLIEN', 'https://olympics.com/en...       False
2  [('Almida DE VAL', 'https://olympics.com/en/at...       False
3  [('Jennifer DODDS', 'https://olympics.com/en/a...       False
4  [('Rachel HOMAN', 'https://olympics.com/en/ath...       False

  rank_position   country_name country_code country_3_letter_code athlete_url  \
0             1          Italy           IT                   ITA         NaN
1             2         Norway           NO                   NOR         NaN
2             3         Sweden           SE                   SWE         NaN
3             4  Great Britain           GB                   GBR         NaN
4             5         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type
0               NaN        NaN        NaN
1               NaN        NaN        NaN
2               NaN        NaN        NaN
3               NaN        NaN        NaN
4               NaN        NaN        NaN

C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1524277613.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  .fillna(method='ffill')  # Fill missing values
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1524277613.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(method='ffill')  # Fill missing values

In [7]:
df = pd.read_excel('Project_3\Olympic_Data_Paris\Teams.xlsx')
df_medals_p = (df
      .clean_names()  # Standardize column names
      .drop_duplicates()  # Remove duplicate rows
      .fillna(method='ffill')  # Fill missing values
     )

print(df_medals_p.head())

<>:1: DeprecationWarning: invalid escape sequence '\O'
<>:1: DeprecationWarning: invalid escape sequence '\O'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\3293104532.py:1: DeprecationWarning: invalid escape sequence '\O'
  df = pd.read_excel('Project_3\Olympic_Data_Paris\Teams.xlsx')

      name      discipline                         noc  event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\3293104532.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  .fillna(method='ffill')  # Fill missing values

In [8]:
Track_event = ["Men's 4 x 400m Relay", "Men's 4 x 100m Relay", "Women's 4 x 400m Relay", "Women's 4 x 100m Relay"]

Swim_event = ["Men's 4 x 200m Freestyle Relay","Men's 4 x 100m Freestyle Relay", "Women's 4 x 100m Freestyle Relay","Women's 4 x 200m Freestyle Relay"]

In [9]:
df_medals_Track_1 = df_medals[(df_medals["discipline_title"] == "Athletics")]
df_medals_Swim_1 = df_medals[df_medals["discipline_title"]== "Swimming"]

df_medals_Track_2 = df_medals_Track_1[df_medals_Track_1["event_title"].isin(Track_event)]

df_medals_Swim_2 = df_medals_Swim_1[df_medals_Swim_1["event_title"].isin(Swim_event)]

print(df_medals_Track_2)
print(df_medals_Swim_2)

#df_medals_clean = pd.concat([df_medals_Track_2, df_medals_Swim_2], ignore_index=True)

#print(df_medals_clean)

     discipline_title   slug_game             event_title event_gender  \
1133        Athletics  tokyo-2020  Women's 4 x 100m Relay        Women
1134        Athletics  tokyo-2020  Women's 4 x 100m Relay        Women
1135        Athletics  tokyo-2020  Women's 4 x 100m Relay        Women
1202        Athletics  tokyo-2020  Women's 4 x 400m Relay        Women
1203        Athletics  tokyo-2020  Women's 4 x 400m Relay        Women
1204        Athletics  tokyo-2020  Women's 4 x 400m Relay        Women
1238        Athletics  tokyo-2020    Men's 4 x 100m Relay          Men
1239        Athletics  tokyo-2020    Men's 4 x 100m Relay          Men
1240        Athletics  tokyo-2020    Men's 4 x 100m Relay          Men
1247        Athletics  tokyo-2020    Men's 4 x 400m Relay          Men
1248        Athletics  tokyo-2020    Men's 4 x 400m Relay          Men
1249        Athletics  tokyo-2020    Men's 4 x 400m Relay          Men

     medal_type participant_type         participant_title  \
1133       GOLD         GameTeam                   Jamaica
1134     SILVER         GameTeam  United States of America
1135     BRONZE         GameTeam             Great Britain
1202       GOLD         GameTeam  United States of America
1203     SILVER         GameTeam                    Poland
1204     BRONZE         GameTeam                   Jamaica
1238       GOLD         GameTeam                     Italy
1239     SILVER         GameTeam             Great Britain
1240     BRONZE         GameTeam                    Canada
1247       GOLD         GameTeam  United States of America
1248     SILVER         GameTeam               Netherlands
1249     BRONZE         GameTeam                  Botswana

                                            athlete_url athlete_full_name  \
1133      https://olympics.com/en/athletes/hyvin-kiyeng      Hyvin KIYENG
1134      https://olympics.com/en/athletes/hyvin-kiyeng      Hyvin KIYENG
1135      https://olympics.com/en/athletes/hyvin-kiyeng      Hyvin KIYENG
1202       https://olympics.com/en/athletes/yaime-perez       Yaime PEREZ
1203       https://olympics.com/en/athletes/yaime-perez       Yaime PEREZ
1204       https://olympics.com/en/athletes/yaime-perez       Yaime PEREZ
1238  https://olympics.com/en/athletes/simon-pettersson  Simon PETTERSSON
1239  https://olympics.com/en/athletes/simon-pettersson  Simon PETTERSSON
1240  https://olympics.com/en/athletes/simon-pettersson  Simon PETTERSSON
1247  https://olympics.com/en/athletes/nicola-mcdermott  Nicola MCDERMOTT
1248  https://olympics.com/en/athletes/nicola-mcdermott  Nicola MCDERMOTT
1249  https://olympics.com/en/athletes/nicola-mcdermott  Nicola MCDERMOTT

                  country_name country_code country_3_letter_code
1133                   Jamaica           JM                   JAM
1134  United States of America           US                   USA
1135             Great Britain           GB                   GBR
1202  United States of America           US                   USA
1203                    Poland           PL                   POL
1204                   Jamaica           JM                   JAM
1238                     Italy           IT                   ITA
1239             Great Britain           GB                   GBR
1240                    Canada           CA                   CAN
1247  United States of America           US                   USA
1248               Netherlands           NL                   NED
1249                  Botswana           BW                   BOT
     discipline_title   slug_game                       event_title  \
1325         Swimming  tokyo-2020    Men's 4 x 200m Freestyle Relay
1326         Swimming  tokyo-2020    Men's 4 x 200m Freestyle Relay
1327         Swimming  tokyo-2020    Men's 4 x 200m Freestyle Relay
1337         Swimming  tokyo-2020  Women's 4 x 100m Freestyle Relay
1338         Swimming  tokyo-2020  Women's 4 x 100m Freestyle Relay
1339         Swimming  tokyo-2020  Women's 4 x 100m Freestyle Relay
1361         Swimming  tokyo-2020    Men's 4 x 100m Freestyle Relay
1362         Swimming  tokyo-2020    Men's 4 x 100m Freestyle Relay
1363         Swimming  tokyo-2020    Men's 4 x 100m Freestyle Relay
1364         Swimming  tokyo-2020  Women's 4 x 200m Freestyle Relay
1365         Swimming  tokyo-2020  Women's 4 x 200m Freestyle Relay
1366         Swimming  tokyo-2020  Women's 4 x 200m Freestyle Relay

     event_gender medal_type participant_type participant_title  \
1325          Men       GOLD         GameTeam     Great Britain
1326          Men     SILVER         GameTeam               ROC
1327          Men     BRONZE         GameTeam         Australia
1337        Women       GOLD         GameTeam         Australia
1338        Women     SILVER         GameTeam            Canada
1339        Women     BRONZE         GameTeam     United States
1361          Men       GOLD         GameTeam     United States
1362          Men     SILVER         GameTeam             Italy
1363          Men     BRONZE         GameTeam         Australia
1364        Women       GOLD         GameTeam             China
1365        Women     SILVER         GameTeam     United States
1366        Women     BRONZE         GameTeam         Australia

                                            athlete_url  \
1325        https://olympics.com/en/athletes/adam-peaty
1326        https://olympics.com/en/athletes/adam-peaty
1327        https://olympics.com/en/athletes/adam-peaty
1337  https://olympics.com/en/athletes/siobhan-berna...
1338  https://olympics.com/en/athletes/siobhan-berna...
1339  https://olympics.com/en/athletes/siobhan-berna...
1361     https://olympics.com/en/athletes/kate-douglass
1362     https://olympics.com/en/athletes/kate-douglass
1363     https://olympics.com/en/athletes/kate-douglass
1364     https://olympics.com/en/athletes/kate-douglass
1365     https://olympics.com/en/athletes/kate-douglass
1366     https://olympics.com/en/athletes/kate-douglass

               athlete_full_name                country_name country_code  \
1325                  Adam PEATY               Great Britain           GB
1326                  Adam PEATY                         ROC          ROC
1327                  Adam PEATY                   Australia           AU
1337  Siobhan Bernadette HAUGHEY                   Australia           AU
1338  Siobhan Bernadette HAUGHEY                      Canada           CA
1339  Siobhan Bernadette HAUGHEY    United States of America           US
1361               Kate DOUGLASS    United States of America           US
1362               Kate DOUGLASS                       Italy           IT
1363               Kate DOUGLASS                   Australia           AU
1364               Kate DOUGLASS  People's Republic of China           CN
1365               Kate DOUGLASS    United States of America           US
1366               Kate DOUGLASS                   Australia           AU

     country_3_letter_code
1325                   GBR
1326                   ROC
1327                   AUS
1337                   AUS
1338                   CAN
1339                   USA
1361                   USA
1362                   ITA
1363                   AUS
1364                   CHN
1365                   USA
1366                   AUS

In [10]:
Track_event = ["Men's 4 x 400m Relay", "Men's 4 x 100m Relay", "Women's 4 x 400m Relay", "Women's 4 x 100m Relay", "Men's 4 x 200m Freestyle Relay","Men's 4 x 100m Freestyle Relay", "Women's 4 x 100m Freestyle Relay","Women's 4 x 200m Freestyle Relay"]

Swim_event = ["Men's 4 x 200m Freestyle Relay","Men's 4 x 100m Freestyle Relay", "Women's 4 x 100m Freestyle Relay","Women's 4 x 200m Freestyle Relay"]

In [11]:
df_hosts_clean = df_hosts[["game_slug", "game_location", 'game_season', "game_year"]]

df_hosts_clean = df_hosts_clean.rename(columns={"game_slug": "Country-Year"})

df_hosts_clean.to_csv("Hosts.csv", index= False)

In [12]:
df_results

df_results_Track_1 = df_results[(df_results["discipline_title"] == "Athletics") |(df_results["discipline_title"]== "Swimming")]
#df_medals_Swim_1 = df_medals[df_medals["discipline_title"]== "Swimming"]

df_results_Track_2 = df_results_Track_1[df_results_Track_1["event_title"].isin(Track_event)]

#df_medals_Swim_2 = df_medals_Swim_1[df_medals_Swim_1["event_title"].isin(Swim_event)]


#print(df_medals_Swim_2)
print("Columns in DataFrame:", df_results_Track_2.columns)
df_results_clean = df_results_Track_2[["discipline_title", 'event_title',"slug_game","country_name","medal_type","value_unit"]]
medals = ['GOLD', "SILVER", "BRONZE"]
df_results_clean = df_results_clean[df_results_clean["medal_type"].isin(medals)]
df_results_clean

Columns in DataFrame: Index(['discipline_title', 'event_title', 'slug_game', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_url',
       'athlete_full_name', 'value_unit', 'value_type'],
      dtype='object')

,discipline_title,event_title,slug_game,country_name,medal_type,value_unit
8803,Athletics,Women's 4 x 100m Relay,tokyo-2020,Jamaica,GOLD,42015
8804,Athletics,Women's 4 x 100m Relay,tokyo-2020,United States of America,SILVER,41090
8805,Athletics,Women's 4 x 100m Relay,tokyo-2020,Great Britain,BRONZE,41055
8806,Athletics,Women's 4 x 100m Relay,tokyo-2020,Switzerland,BRONZE,42005
8807,Athletics,Women's 4 x 100m Relay,tokyo-2020,Germany,BRONZE,42000
...,...,...,...,...,...,...
159276,Swimming,Men's 4 x 200m Freestyle Relay,london-1908,United States of America,BRONZE,662800
159277,Swimming,Men's 4 x 200m Freestyle Relay,london-1908,Australasia,BRONZE,674000
159278,Swimming,Men's 4 x 200m Freestyle Relay,london-1908,Belgium,BRONZE,674000
159279,Swimming,Men's 4 x 200m Freestyle Relay,london-1908,Italy,BRONZE,674000
159280,Swimming,Men's 4 x 200m Freestyle Relay,london-1908,Netherlands,BRONZE,674000

In [13]:
# int(time)/1000
# import math 
# math.modf(int(time)/1000)

# ms, sec = math.modf(int(time)/1000)

# seconds/60 

import datetime as dt

x = dt.timedelta(milliseconds=674000).total_seconds()
print(x)

x

674.0

674.0

In [14]:
df_results_clean.info()
df_results_clean["value_unit"].unique()

# df_bf_tk = df_results_clean[~df_results_clean["slug_game"].isin(["tokyo-2020", "antwerp-1920"])]
# df_bf_tk["slug_game"].unique()
# df_bf_tk['value_unit'] = pd.to_datetime.(df_bf_tk['value_unit'], unit='ms')
# # df_bf_tk["value_unit"].map(lambda x: x.strftime('%H:%M:%S'))

<class 'pandas.core.frame.DataFrame'>
Index: 1447 entries, 8803 to 159280
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   discipline_title  1447 non-null   object
 1   event_title       1447 non-null   object
 2   slug_game         1447 non-null   object
 3   country_name      1447 non-null   object
 4   medal_type        1447 non-null   object
 5   value_unit        1447 non-null   object
dtypes: object(6)
memory usage: 79.1+ KB

array(['42015', '41090', '41055', '42005', '42000', '42082', '42068',
       '42081', '03:20.9', '03:23.1', '03:21.9', '03:24.1', '03:24.0',
       '37095', '38002', '37092', '37082', '38006', '38016', '38008',
       '02:57.8', '02:59.1', '02:58.3', '02:59.4', '02:58.5', '02:59.3',
       '02:58.9', '02:58.6', '07:03.3', '07:05.2', '07:05.0', '07:05.6',
       '07:05.1', '07:06.6', '07:06.8', '07:07.7', '03:31.7', '03:33.7',
       '03:34.8', '03:33.5', '03:34.0', '03:35.9', '03:35.1', '03:35.6',
       '03:11.3', '03:10.3', '03:11.9', '03:13.0', '03:12.7', '03:12.4',
       '03:13.1', '03:12.6', '07:49.0', '07:47.6', '07:44.6', '07:51.5',
       '07:52.0', '07:52.1', '07:56.2', '07:55.1', '199060', '200340',
       '205880', '206430', '207050', '207280', '207450', '177300',
       '178160', '178490', '178520', '179060', '179530', '180500',
       '183280', '41010', '41360', '41770', '42100', '42120', '43150',
       '43210', '37270', '37600', '37640', '37900', '37980', '38410',
       '420660', '423130', '423500', '424180', '425700', '427280',
       '429100', '431640', '463030', '464870', '465390', '467960',
       '470260', '471030', '473260', '476760', '210650', '211890',
       '212890', '213810', '215900', '216780', '217450', '217780',
       '189920', '190530', '191370', '191640', '193210', '193570',
       '194350', '194480', '189930', '190380', '191410', '191630',
       '193450', '193520', '194130', '194400', '462920', '464410',
       '467490', '470650', '472370', '473110', '476300', '476730',
       '419700', '422770', '426300', '426590', '427000', '429330',
       '429650', '433660', '213150', '213790', '214240', '216750',
       '217020', '217960', '40820', '41410', '42040', '42640', '42670',
       '42700', '42910', '176720', '177050', '179400', '181830', '182180',
       '183460', '36840', '38120', '38160', '38350', '38390', '38430',
       '196870', '200950', '203570', '204760', '205920', '207770',
       '42540', '43040', '43140', '43280', '198540', '200400', '202680',
       '203210', '203740', '208450', '38060', '38150', '38240', '38580',
       '38660', '175390', '178030', '178810', '179370', '180020',
       '180320', '181450', '418560', '423700', '424980', '425350',
       '425770', '425920', '430310', '433020', '213760', '214330',
       '215050', '215640', '216850', '217680', '218180', '218320',
       '464310', '465930', '466330', '469760', '470660', '475530',
       '477560', '479830', '188240', '188320', '189910', '191480',
       '191920', '192260', '192660', '192870', '199010', '200160',
       '202000', '205120', '205220', '206810', '208510', '225700',
       '38070', '38080', '38230', '38490', '38540', '38560', '38600',
       '38670', '175910', '180600', '180900', '180990', '181070',
       '181880', '182220', '182490', '41730', '42270', '42690', '42940',
       '43110', '43420', '215940', '216390', '217590', '217940', '220230',
       '220820', '221220', '222900', '193170', '194360', '194620',
       '195750', '195770', '196230', '197180', '427330', '427460',
       '431830', '432600', '433330', '436510', '437430', '443020',
       '473420', '475970', '477350', '477400', '479110', '482110',
       '485290', '488340', '178680', '178780', '179230', '181020',
       '181220', '183220', '183910', '202620', '203250', '203460',
       '203800', '203810', '205670', '209170', '209470', '41950', '42130',
       '42200', '42420', '43020', '44050', '44870', '37610', '38040',
       '38200', '38960', '216610', '219830', '220300', '220310', '220540',
       '220910', '222920', '224490', '427050', '432640', '432700',
       '432910', '432980', '440190', '441920', '444370', '477800',
       '478520', '478640', '481630', '482650', '483690', '484680',
       '485990', '193670', '193860', '197400', '197770', '197850',
       '199600', '201000', '42140', '42240', '42560', '42760', '43700',
       '43930', '200910', '201040', '201140', '201690', '202220',
       '205850', '206990', '208460', '37690', '38050', '38550', '39390',
       '175990', '176600', '179420', '180640', '180760', '180960',
       '182710', '479870', '481550', '485470', '487460', '488160',
       '488480', '490020', '495380', '195410', '197060', '197200',
       '198300', '199020', '200130', '201520', '219290', '220480',
       '221480', '222400', '224910', '225310', '226270', '434840',
       '437560', '437710', '438470', '438740', '439920', '441960',
       '444850', '200200', '200920', '204230', '205200', '205680',
       '206370', '206420', '37400', '38000', '38170', '38770', '39300',
       '39310', '42110', '42160', '42810', '42850', '43120', '43770',
       '175740', '179510', '179730', '181610', '181710', '183310',
       '196740', '197560', '197900', '199160', '200100', '200990',
       '201750', '202040', '431950', '435510', '436230', '436580',
       '438100', '442570', '444030', '219460', '220120', '221600',
       '223680', '223740', '227810', '228470', '229370', '195180',
       '195510', '198290', '202490', '203130', '206890', '209370',
       '38190', '38280', '38400', '38470', '38930', '39190', '176160',
       '180300', '180560', '181130', '182000', '182500', '184690',
       '41980', '42090', '42750', '44020', '432510', '433680', '434350',
       '435230', '436000', '439100', '444690', '444910', '196530',
       '198330', '199820', '200020', '201070', '201650', '201710',
       '202930', '220630', '223390', '224250', '224690', '224990',
       '226750', '226900', '229250', '223430', '224400', '225560',
       '227790', '229500', '230120', '231240', '232150', '435690',
       '435730', '444780', '445630', '446510', '446530', '446720',
       '450160', '199030', '199680', '202690', '202980', '203610',
       '204630', '204700', '204970', '201210', '205510', '207510',
       '210820', '212490', '41650', '42770', '43570', '44180', '44230',
       '53540', '177910', '179130', '179320', '179700', '181440',
       '181600', '182090', '182820', '37830', '38620', '38700', '38870',
       '38990', '39100', '39130', '39400', '207500', '207700', '207900',
       '211600', '41600', '42430', '42840', '43190', '43590', '38260',
       '38330', '38530', '38730', '39120', '39540', '181100', '181300',
       '184300', '184800', '185900', '186600', '187000', '443500',
       '448600', '449300', '450100', '450370', '450810', '450820',
       '456080', '222710', '228930', '229510', '231710', '234160',
       '235410', '236340', '238730', '224820', '225500', '228810',
       '231670', '232690', '236730', '237250', '238330', '443220',
       '447970', '452110', '452270', '458920', '462560', '462840',
       '463390', '178650', '181430', '181980', '182640', '182840',
       '183810', '186510', '199230', '202810', '204240', '205560',
       '205710', '205870', '208010', '208910', '38780', '38830', '39010',
       '39080', '39160', '39470', '42550', '42590', '43090', '43170',
       '43180', '43240', '43350', '43790', '455780', '461690', '465760',
       '467370', '468660', '469110', '473610', '475590', '209720',
       '212420', '213140', '213200', '213900', '214130', '218210',
       '235190', '235550', '237930', '240390', '241490', '242690',
       '243830', '244820', '179830', '180460', '180650', '180880',
       '181050', '181120', '182570', '183580', '38500', '38790', '38820',
       '38900', '39030', '39140', '42950', '43360', '43390', '43610',
       '43710', '44200', '202950', '205150', '206510', '207520', '208740',
       '208840', '209440', '211700', '214200', '214700', '218400',
       '218800', '219000', '219200', '221500', '472300', '473700',
       '481600', '483200', '483700', '484300', '486000', '492100',
       '242500', '245700', '247200', '248700', '251000', '253600',
       '258000', '176100', '179600', '181200', '184500', '184600',
       '187500', '42800', '43300', '43400', '43600', '38300', '39200',
       '472100', '479300', '483800', '485700', '488000', '488700',
       '495100', '498100', '217200', '219100', '220500', '220700',
       '222100', '222600', '243800', '246900', '252000', '252100',
       '254000', '255000', '255900', '257200', '43900', '44000', '44400',
       '44700', '45000', '45200', '46100', '39000', '39500', '39600',
       '180700', '181700', '182300', '185300', '187400', '40100', '40200',
       '40700', '182200', '182700', '184000', '185000', '188300',
       '189400', '44500', '44800', '45600', '490200', '493200', '493800',
       '508100', '509700', '511000', '511800', '512200', '248900',
       '251300', '259700', '261200', '264600', '265100', '266800',
       '269000', '39800', '40300', '40600', '186200', '187200', '188200',
       '190200', '44900', '45700', '47200', '257100', '259200', '265700',
       '266100', '268300', '270000', '271100', '275800', '503600',
       '511500', '514700', '516600', '523400', '525200', '526200',
       '529500', '40500', '40900', '41200', '183900', '189300', '190000',
       '190100', '45900', '46200', '46300', '46600', '47800', '511100',
       '513500', '525900', '526800', '532600', '532900', '535100',
       '536900', '264400', '270100', '276200', '277800', '279000',
       '280300', '284100', '269200', '269600', '271600', '274700',
       '284800', '289100', '289800', '526000', '528400', '548000',
       '549100', '554000', '559200', '560200', '571000', '47500', '47600',
       '48000', '48200', '49200', '190400', '194800', '196000', '204800',
       '41300', '41500', '41900', '46900', '48700', '48800', '41100',
       '189000', '191000', '191800', '193000', '276000', '276800',
       '280200', '288000', '291000', '291400', '531500', '543000',
       '552300', '558200', '559000', '561500', '567500', '577500',
       '191200', '192800', '194600', '197800', '40000', '41400', '47000',
       '47700', '48900', '50000', '538400', '550500', '571400', '576300',
       '585800', '613100', '636500', '278000', '287500', '292400',
       '305700', '306700', '41000', '41800', '42600', '48400', '49000',
       '49600', '49800', '53600', '194200', '195400', '195800', '196400',
       '199400', '287600', '302800', '313400', '314400', '332000',
       '576200', '581400', '587800', '597000', '601800', '615800',
       '703000', '197000', '202800', '203400', '208000', '298800',
       '317000', '335600', '342400', '343400', '345800', '593400',
       '602200', '606800', '616200', '619400', '311600', '340800',
       '343600', '604400', '625400', '637200', '650200', '00:42.5',
       '00:42.8', '00:43.0', '00:43.3', '00:43.6', '202200', '3:23.0est',
       '3:23.5est', '3:23.6est', '3:24.3est', '3:24.9est', '196600',
       '200700', '203200', '42400', '352800', '364600', '377000',
       '188800', '655600', '659000', '662800', '674000'], dtype=object)

In [15]:
# import datetime as dt

# def ms_conversion(ms_number):
#  if ":" in ms_number:
#   return ms_number
#  else:
#  seconds = dt.timedelta(milliseconds=674000).total_seconds()
#  hours = seconds//3600
#  mintues = (seconds % 3600)//60
#  sec = seconds % 60 
#  return "{:02d}:{:02d}:{:2f}".format(int(time), rounds(sec,3))

In [16]:
import datetime as dt

In [17]:

def ms_conversion(number_in_ms):
    if ":" in number_in_ms:
        return number_in_ms
    elif "est" in number_in_ms:
        return number_in_ms.replace("est", "").strip()
    else:
        seconds = dt.timedelta(milliseconds=int(number_in_ms)).total_seconds()
        hours = seconds//3600
        minutes = (seconds % 3600)//60
        sec = seconds % 60 
        return "{:02d}:{:02d}:{:.3f}".format(int(hours),int(minutes),round(sec,3))

df_results_clean['value_unit'] = df_results_clean['value_unit'].map(ms_conversion)
df_results_clean['value_unit']

8803      00:00:42.015
8804      00:00:41.090
8805      00:00:41.055
8806      00:00:42.005
8807      00:00:42.000
              ...
159276     00:11:2.800
159277    00:11:14.000
159278    00:11:14.000
159279    00:11:14.000
159280    00:11:14.000
Name: value_unit, Length: 1447, dtype: object

In [21]:
Path = 'Project_3\Olympic_Data_Paris\2024 Paris Medals.xlsx'

df = pd.read_csv("Project_3/Olympic_Data_Paris/2024 Paris Medals (3).csv")
df_results_p = (df
      .clean_names()  # Standardize column names
      .drop_duplicates()  # Remove duplicate rows
      .fillna(method='ffill')  # Fill missing values
     )
df_results_clean_p = df_results_p[["discipline_title", 'event_title',"slug_game","medal_type", "participant_title", "value_unit"]]
df_results_clean_p.rename(columns={"participant_title": 'country_name'}, inplace=True)
df_results_clean_p['value_unit'] = df_results_clean_p['value_unit'].astype("str")
df_results_clean_p['value_unit'] = df_results_clean_p['value_unit'].map(ms_conversion)
df_results_clean_p['value_unit']
print(df_results_clean_p.head())

  discipline_title                     event_title   slug_game medal_type  \
0         Swimming  Men's 4 x 200m Freestyle Relay  Paris-2024       GOLD
1         Swimming  Men's 4 x 200m Freestyle Relay  Paris-2024     SILVER
2         Swimming  Men's 4 x 200m Freestyle Relay  Paris-2024     BRONZE
3         Swimming  Men's 4 x 100m Freestyle Relay  Paris-2024       GOLD
4         Swimming  Men's 4 x 100m Freestyle Relay  Paris-2024     SILVER

               country_name    value_unit
0             Great Britain  00:06:59.430
1  United States of America   00:07:0.780
2                 Australia   00:07:1.980
3  United States of America   00:03:9.280
4                 Australia  00:03:10.350

<>:1: DeprecationWarning: invalid escape sequence '\O'
<>:1: DeprecationWarning: invalid escape sequence '\O'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1059348920.py:1: DeprecationWarning: invalid escape sequence '\O'
  Path = 'Project_3\Olympic_Data_Paris\2024 Paris Medals.xlsx'
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1059348920.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  .fillna(method='ffill')  # Fill missing values
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1059348920.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results_clean_p.rename(columns={"participant_title": 'country_name'}, inplace=True)
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1059348920.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results_clean_p['value_unit'] = df_results_clean_p['value_unit'].astype("str")
C:\Users\maggi\AppData\Local\Temp\ipykernel_26968\1059348920.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results_clean_p['value_unit'] = df_results_clean_p['value_unit'].map(ms_conversion)

In [22]:
df_combined_diff_cols = pd.concat([df_results_clean_p, df_results_clean], ignore_index=True)

print(df_combined_diff_cols)

df_combined_diff_cols.to_csv('results_final.csv', index=False)

     discipline_title                     event_title    slug_game medal_type  \
0            Swimming  Men's 4 x 200m Freestyle Relay   Paris-2024       GOLD
1            Swimming  Men's 4 x 200m Freestyle Relay   Paris-2024     SILVER
2            Swimming  Men's 4 x 200m Freestyle Relay   Paris-2024     BRONZE
3            Swimming  Men's 4 x 100m Freestyle Relay   Paris-2024       GOLD
4            Swimming  Men's 4 x 100m Freestyle Relay   Paris-2024     SILVER
...               ...                             ...          ...        ...
1466         Swimming  Men's 4 x 200m Freestyle Relay  london-1908     BRONZE
1467         Swimming  Men's 4 x 200m Freestyle Relay  london-1908     BRONZE
1468         Swimming  Men's 4 x 200m Freestyle Relay  london-1908     BRONZE
1469         Swimming  Men's 4 x 200m Freestyle Relay  london-1908     BRONZE
1470         Swimming  Men's 4 x 200m Freestyle Relay  london-1908     BRONZE

                  country_name    value_unit
0                Great Britain  00:06:59.430
1     United States of America   00:07:0.780
2                    Australia   00:07:1.980
3     United States of America   00:03:9.280
4                    Australia  00:03:10.350
...                        ...           ...
1466  United States of America   00:11:2.800
1467               Australasia  00:11:14.000
1468                   Belgium  00:11:14.000
1469                     Italy  00:11:14.000
1470               Netherlands  00:11:14.000

[1471 rows x 6 columns]