In [2]:
import pandas as pd

medals_path = "Resources/olympic_medals.csv"
ex_teams_path = "Olympic_Data_Paris/Teams.xlsx"
teams_path = "Resources/Teams.csv"
ex_paris_medals = "Resources/2024 Paris Medals.xlsx"
paris_path = "Resources/Paris_Medals.csv"

pm = pd.read_excel(ex_paris_medals)
df = pd.read_excel(ex_teams_path)
csv_file_path = "Resources/Teams.csv"
paris_csv = "Resources/Paris_Medals.csv"

df.to_csv(csv_file_path, index=False)
pm.to_csv(paris_csv, index=False)

In [3]:
teams_df = pd.read_csv(teams_path)
medals_df = pd.read_csv(medals_path)
paris_df = pd.read_csv(paris_path)

In [4]:
teams_df.rename(columns={
    "Name": "Country",
}, inplace=True)

teams_df['Country-Year'] = 'paris-2024'

teams_df.head()

   Country      Discipline                         NOC  Event Country-Year
0  Belgium  3x3 Basketball                     Belgium    Men   paris-2024
1    China  3x3 Basketball  People's Republic of China    Men   paris-2024
2    China  3x3 Basketball  People's Republic of China  Women   paris-2024
3   France  3x3 Basketball                      France  Women   paris-2024
4    Italy  3x3 Basketball                       Italy  Women   paris-2024

In [5]:
paris_df.rename(columns={
    "discipline_title": "Discipline",
    "slug_game": "Country-Year",
    "event_title": "Event",
    "event_gender": "Gender",
    "medal_type": "Medal Type",
    "country_name": "Country"
}, inplace=True)

paris_df.head()

,Discipline,Country-Year,Event,Gender,Medal Type,participant_type,participant_title,Country,country_code,country_3_letter_code
0,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,GOLD,GameTeam,Great Britain,Great Britain,GB,GBR
1,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,SILVER,GameTeam,United States of America,United States of America,US,USA
2,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,BRONZE,GameTeam,Australia,Australia,AU,AUS
3,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,Men,GOLD,GameTeam,United States of America,United States of America,US,USA
4,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,Men,SILVER,GameTeam,Australia,Australia,AU,AUS

In [6]:
paris_columns = ["Discipline", "Country-Year", "Event", "Medal Type", "Country"]
paris_filtered = paris_df[paris_columns]
paris_filtered.head()

,Discipline,Country-Year,Event,Medal Type,Country
0,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,GOLD,Great Britain
1,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,SILVER,United States of America
2,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,BRONZE,Australia
3,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,GOLD,United States of America
4,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,SILVER,Australia

In [7]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [8]:
medal_columns = ["discipline_title", "slug_game", "event_title", "event_gender", "medal_type", "country_name"]
medals_filtered = medals_df[medal_columns]
medals_filtered.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,Italy
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,Norway
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,Norway
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,Sweden

In [9]:
medals_filtered.rename(columns={
    "discipline_title": "Discipline",
    "slug_game": "Country-Year",
    "event_title": "Event",
    "event_gender": "Gender",
    "medal_type": "Medal Type",
    "country_name": "Country"
}, inplace=True)

medals_filtered.head()

C:\Users\kimmi\AppData\Local\Temp\ipykernel_22296\3396893069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medals_filtered.rename(columns={

  Discipline  Country-Year          Event Gender Medal Type Country
0    Curling  beijing-2022  Mixed Doubles  Mixed       GOLD   Italy
1    Curling  beijing-2022  Mixed Doubles  Mixed       GOLD   Italy
2    Curling  beijing-2022  Mixed Doubles  Mixed     SILVER  Norway
3    Curling  beijing-2022  Mixed Doubles  Mixed     SILVER  Norway
4    Curling  beijing-2022  Mixed Doubles  Mixed     BRONZE  Sweden

In [10]:
merged_df = pd.merge(medals_filtered, teams_df, 
                     left_on=['Country', 'Discipline', 'Event', 'Country-Year'], 
                     right_on=['Country', 'Discipline', 'Event', 'Country-Year'], 
                     how='outer')

merged_df.to_csv("Resources/merged_data.csv", index=False)
merged_df.head()

,Discipline,Country-Year,Event,Gender,Medal Type,Country,NOC
0,Table Tennis,paris-2024,Mixed Doubles,NaN,NaN,ACHANTA Kamal / BATRA Manika,India
1,Table Tennis,paris-2024,Mixed Doubles,NaN,NaN,ASSAR Omar / MESHREF Dina,Egypt
2,Beach Volleyball,paris-2024,Men,NaN,NaN,Abicha/Elgraoui,Morocco
3,Taekwondo,london-2012,58 - 68 kg men,Men,BRONZE,Afghanistan,NaN
4,Taekwondo,beijing-2008,Beijing 2008 Taekwondo - 58 kg men,Men,BRONZE,Afghanistan,NaN

In [11]:
merged_columns = ["Discipline", "Country-Year", "Event", "Medal Type", "Country"]
merged_filtered = merged_df[merged_columns]
merged_filtered.head()
# medal_columns = ["discipline_title", "slug_game", "event_title", "event_gender", "medal_type", "country_name"]
# medals_filtered = medals_df[medal_columns]

,Discipline,Country-Year,Event,Medal Type,Country
0,Table Tennis,paris-2024,Mixed Doubles,NaN,ACHANTA Kamal / BATRA Manika
1,Table Tennis,paris-2024,Mixed Doubles,NaN,ASSAR Omar / MESHREF Dina
2,Beach Volleyball,paris-2024,Men,NaN,Abicha/Elgraoui
3,Taekwondo,london-2012,58 - 68 kg men,BRONZE,Afghanistan
4,Taekwondo,beijing-2008,Beijing 2008 Taekwondo - 58 kg men,BRONZE,Afghanistan

In [12]:
merged_filtered = merged_filtered[['Discipline', 'Country', 'Event', 'Medal Type', 'Country-Year']]
merged_filtered.head(25)

,Discipline,Country,Event,Medal Type,Country-Year
0,Table Tennis,ACHANTA Kamal / BATRA Manika,Mixed Doubles,NaN,paris-2024
1,Table Tennis,ASSAR Omar / MESHREF Dina,Mixed Doubles,NaN,paris-2024
2,Beach Volleyball,Abicha/Elgraoui,Men,NaN,paris-2024
3,Taekwondo,Afghanistan,58 - 68 kg men,BRONZE,london-2012
4,Taekwondo,Afghanistan,Beijing 2008 Taekwondo - 58 kg men,BRONZE,beijing-2008
5,Beach Volleyball,Agatha/Duda,Women,NaN,paris-2024
6,Athletics,Algeria,1500m men,GOLD,atlanta-1996
7,Athletics,Algeria,1500m men,GOLD,london-2012
8,Athletics,Algeria,1500m men,SILVER,rio-2016
9,Athletics,Algeria,1500m women,GOLD,barcelona-1992
10,Athletics,Algeria,1500m women,GOLD,sydney-2000
11,Athletics,Algeria,5000m men,SILVER,sydney-2000
12,Athletics,Algeria,800m men,SILVER,rio-2016
13,Athletics,Algeria,800m men,BRONZE,sydney-2000
14,Athletics,Algeria,high jump men,BRONZE,sydney-2000
15,Boxing,Algeria,54-57kg featherweight men,BRONZE,barcelona-1992
16,Boxing,Algeria,57-60kg lightweight men,GOLD,atlanta-1996
17,Boxing,Algeria,60-63.5kg lightwelterweigh men,BRONZE,sydney-2000
18,Boxing,Algeria,71-75kg men,BRONZE,atlanta-1996
19,Boxing,Algeria,71-75kg men,BRONZE,los-angeles-1984
20,Boxing,Algeria,75-81kg lightheavyweight men,BRONZE,los-angeles-1984
21,Judo,Algeria,48 52kg halflightweight women,BRONZE,beijing-2008
22,Judo,Algeria,81 90kg middleweight men,SILVER,beijing-2008
23,Beach Volleyball,Alison/Alvaro Filho,Men,NaN,paris-2024
24,Beach Volleyball,Ana Patricia/Rebecca,Women,NaN,paris-2024

In [14]:
events_sort = [
    "Men's 4 x 400m Relay", "Men's 4 x 100m Relay", "Women's 4 x 400m Relay",
    "Women's 4 x 100m Relay", "Men's 4 x 200m Freestyle Relay", 
    "Men's 4 x 100m Freestyle Relay", "Women's 4 x 100m Freestyle Relay", 
    "Women's 4 x 200m Freestyle Relay", "4x100m relay men", "4x100m relay women",
    "4x400m relay women", "4x400m relay men", "4x100m freestyle relay women",
    "4x100m freestyle relay men", "4x200m freestyle relay men", "4x200m freestyle relay women"
]

teams_filtered = merged_filtered[merged_filtered['Event'].isin(events_sort)]

sorted_df = teams_filtered.sort_values(by='Event')

sorted_df.to_csv("Resources/event_sorted.csv", index= False)
sorted_df.head(50)

,Discipline,Country,Event,Medal Type,Country-Year
21802,Swimming,United States of America,4x100m freestyle relay men,GOLD,los-angeles-1984
17028,Swimming,Soviet Union,4x100m freestyle relay men,SILVER,seoul-1988
17027,Swimming,Soviet Union,4x100m freestyle relay men,SILVER,munich-1972
17026,Swimming,Soviet Union,4x100m freestyle relay men,SILVER,mexico-city-1968
5506,Swimming,France,4x100m freestyle relay men,GOLD,london-2012
5505,Swimming,France,4x100m freestyle relay men,SILVER,beijing-2008
21797,Swimming,United States of America,4x100m freestyle relay men,BRONZE,athens-2004
21798,Swimming,United States of America,4x100m freestyle relay men,GOLD,atlanta-1996
21799,Swimming,United States of America,4x100m freestyle relay men,GOLD,barcelona-1992
21800,Swimming,United States of America,4x100m freestyle relay men,GOLD,beijing-2008
6175,Swimming,German Democratic Republic (Germany),4x100m freestyle relay men,BRONZE,munich-1972
21801,Swimming,United States of America,4x100m freestyle relay men,SILVER,london-2012
15570,Swimming,Russian Federation,4x100m freestyle relay men,SILVER,atlanta-1996
15571,Swimming,Russian Federation,4x100m freestyle relay men,BRONZE,london-2012
21803,Swimming,United States of America,4x100m freestyle relay men,GOLD,mexico-city-1968
15945,Swimming,South Africa,4x100m freestyle relay men,GOLD,athens-2004
21804,Swimming,United States of America,4x100m freestyle relay men,GOLD,munich-1972
21805,Swimming,United States of America,4x100m freestyle relay men,GOLD,seoul-1988
21806,Swimming,United States of America,4x100m freestyle relay men,SILVER,sydney-2000
21807,Swimming,United States of America,4x100m freestyle relay men,GOLD,tokyo-1964
1744,Swimming,Brazil,4x100m freestyle relay men,BRONZE,sydney-2000
19074,Swimming,Unified Team,4x100m freestyle relay men,SILVER,barcelona-1992
6176,Swimming,German Democratic Republic (Germany),4x100m freestyle relay men,BRONZE,seoul-1988
12048,Swimming,Netherlands,4x100m freestyle relay men,SILVER,athens-2004
7285,Swimming,Germany,4x100m freestyle relay men,BRONZE,atlanta-1996
704,Swimming,Australia,4x100m freestyle relay men,BRONZE,mexico-city-1968
703,Swimming,Australia,4x100m freestyle relay men,SILVER,los-angeles-1984
702,Swimming,Australia,4x100m freestyle relay men,BRONZE,beijing-2008
7287,Swimming,Germany,4x100m freestyle relay men,SILVER,tokyo-1964
7286,Swimming,Germany,4x100m freestyle relay men,BRONZE,barcelona-1992
705,Swimming,Australia,4x100m freestyle relay men,GOLD,sydney-2000
706,Swimming,Australia,4x100m freestyle relay men,BRONZE,tokyo-1964
18058,Swimming,Sweden,4x100m freestyle relay men,BRONZE,los-angeles-1984
21814,Swimming,United States of America,4x100m freestyle relay women,BRONZE,berlin-1936
21813,Swimming,United States of America,4x100m freestyle relay women,SILVER,beijing-2008
21816,Swimming,United States of America,4x100m freestyle relay women,GOLD,london-1948
8350,Swimming,Great Britain,4x100m freestyle relay women,BRONZE,los-angeles-1932
21812,Swimming,United States of America,4x100m freestyle relay women,GOLD,barcelona-1992
21811,Swimming,United States of America,4x100m freestyle relay women,GOLD,atlanta-1996
21815,Swimming,United States of America,4x100m freestyle relay women,BRONZE,helsinki-1952
6180,Swimming,German Democratic Republic (Germany),4x100m freestyle relay women,SILVER,munich-1972
21818,Swimming,United States of America,4x100m freestyle relay women,GOLD,los-angeles-1932
3666,Swimming,Denmark,4x100m freestyle relay women,SILVER,london-1948
21819,Swimming,United States of America,4x100m freestyle relay women,GOLD,los-angeles-1984
21820,Swimming,United States of America,4x100m freestyle relay women,SILVER,melbourne-1956
21821,Swimming,United States of America,4x100m freestyle relay women,GOLD,mexico-city-1968
21822,Swimming,United States of America,4x100m freestyle relay women,GOLD,montreal-1976
21823,Swimming,United States of America,4x100m freestyle relay women,GOLD,munich-1972
21824,Swimming,United States of America,4x100m freestyle relay women,GOLD,paris-1924
21825,Swimming,United States of America,4x100m freestyle relay women,SILVER,rio-2016