In [1]:
import pandas as pd

medals_path = "Resources/olympic_medals.csv"
ex_teams_path = "Olympic_Data_Paris/Teams.xlsx"
teams_path = "Resources/Teams.csv"
ex_paris_medals = "Resources/2024 Paris Medals.xlsx"
paris_path = "Resources/Paris_Medals.csv"

pm = pd.read_excel(ex_paris_medals)
df = pd.read_excel(ex_teams_path)
csv_file_path = "Resources/Teams.csv"
paris_csv = "Resources/Paris_Medals.csv"

df.to_csv(csv_file_path, index=False)
pm.to_csv(paris_csv, index=False)

In [2]:
teams_df = pd.read_csv(teams_path)
medals_df = pd.read_csv(medals_path)
paris_df = pd.read_csv(paris_path)

In [3]:
teams_df.rename(columns={
    "Name": "Country",
}, inplace=True)

teams_df['Country-Year'] = 'paris-2024'

teams_df.head()

   Country      Discipline                         NOC  Event Country-Year
0  Belgium  3x3 Basketball                     Belgium    Men   paris-2024
1    China  3x3 Basketball  People's Republic of China    Men   paris-2024
2    China  3x3 Basketball  People's Republic of China  Women   paris-2024
3   France  3x3 Basketball                      France  Women   paris-2024
4    Italy  3x3 Basketball                       Italy  Women   paris-2024

In [4]:
paris_df.rename(columns={
    "discipline_title": "Discipline",
    "slug_game": "Country-Year",
    "event_title": "Event",
    "event_gender": "Gender",
    "medal_type": "Medal Type",
    "country_name": "Country"
}, inplace=True)

paris_df.head()

,Discipline,Country-Year,Event,Gender,Medal Type,participant_type,participant_title,Country,country_code,country_3_letter_code
0,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,GOLD,GameTeam,Great Britain,Great Britain,GB,GBR
1,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,SILVER,GameTeam,United States of America,United States of America,US,USA
2,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,Men,BRONZE,GameTeam,Australia,Australia,AU,AUS
3,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,Men,GOLD,GameTeam,United States of America,United States of America,US,USA
4,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,Men,SILVER,GameTeam,Australia,Australia,AU,AUS

In [5]:
paris_columns = ["Discipline", "Country-Year", "Event", "Medal Type", "Country"]
paris_filtered = paris_df[paris_columns]
paris_filtered.head()

,Discipline,Country-Year,Event,Medal Type,Country
0,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,GOLD,Great Britain
1,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,SILVER,United States of America
2,Swimming,Paris-2024,Men's 4 x 200m Freestyle Relay,BRONZE,Australia
3,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,GOLD,United States of America
4,Swimming,Paris-2024,Men's 4 x 100m Freestyle Relay,SILVER,Australia

In [6]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [7]:
medal_columns = ["discipline_title", "slug_game", "event_title", "event_gender", "medal_type", "country_name"]
medals_filtered = medals_df[medal_columns]
medals_filtered.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,Italy
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,Norway
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,Norway
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,Sweden

In [8]:
medals_filtered.rename(columns={
    "discipline_title": "Discipline",
    "slug_game": "Country-Year",
    "event_title": "Event",
    "event_gender": "Gender",
    "medal_type": "Medal Type",
    "country_name": "Country"
}, inplace=True)

medals_filtered.head()

C:\Users\kimmi\AppData\Local\Temp\ipykernel_30772\3396893069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medals_filtered.rename(columns={

  Discipline  Country-Year          Event Gender Medal Type Country
0    Curling  beijing-2022  Mixed Doubles  Mixed       GOLD   Italy
1    Curling  beijing-2022  Mixed Doubles  Mixed       GOLD   Italy
2    Curling  beijing-2022  Mixed Doubles  Mixed     SILVER  Norway
3    Curling  beijing-2022  Mixed Doubles  Mixed     SILVER  Norway
4    Curling  beijing-2022  Mixed Doubles  Mixed     BRONZE  Sweden

In [9]:
merged_df = pd.merge(medals_filtered, teams_df, 
                     left_on=['Country', 'Discipline', 'Event', 'Country-Year'], 
                     right_on=['Country', 'Discipline', 'Event', 'Country-Year'], 
                     how='outer')

merged_df.to_csv("Resources/merged_data.csv", index=False)
merged_df.head()

,Discipline,Country-Year,Event,Gender,Medal Type,Country,NOC
0,Table Tennis,paris-2024,Mixed Doubles,NaN,NaN,ACHANTA Kamal / BATRA Manika,India
1,Table Tennis,paris-2024,Mixed Doubles,NaN,NaN,ASSAR Omar / MESHREF Dina,Egypt
2,Beach Volleyball,paris-2024,Men,NaN,NaN,Abicha/Elgraoui,Morocco
3,Taekwondo,london-2012,58 - 68 kg men,Men,BRONZE,Afghanistan,NaN
4,Taekwondo,beijing-2008,Beijing 2008 Taekwondo - 58 kg men,Men,BRONZE,Afghanistan,NaN

In [10]:
merged_columns = ["Discipline", "Country-Year", "Event", "Medal Type", "Country"]
merged_filtered = merged_df[merged_columns]
merged_filtered.head()
# medal_columns = ["discipline_title", "slug_game", "event_title", "event_gender", "medal_type", "country_name"]
# medals_filtered = medals_df[medal_columns]

,Discipline,Country-Year,Event,Medal Type,Country
0,Table Tennis,paris-2024,Mixed Doubles,NaN,ACHANTA Kamal / BATRA Manika
1,Table Tennis,paris-2024,Mixed Doubles,NaN,ASSAR Omar / MESHREF Dina
2,Beach Volleyball,paris-2024,Men,NaN,Abicha/Elgraoui
3,Taekwondo,london-2012,58 - 68 kg men,BRONZE,Afghanistan
4,Taekwondo,beijing-2008,Beijing 2008 Taekwondo - 58 kg men,BRONZE,Afghanistan

In [11]:
merged_filtered = merged_filtered[['Discipline', 'Country', 'Event', 'Medal Type', 'Country-Year']]
merged_filtered.head()

,Discipline,Country,Event,Medal Type,Country-Year
0,Table Tennis,ACHANTA Kamal / BATRA Manika,Mixed Doubles,NaN,paris-2024
1,Table Tennis,ASSAR Omar / MESHREF Dina,Mixed Doubles,NaN,paris-2024
2,Beach Volleyball,Abicha/Elgraoui,Men,NaN,paris-2024
3,Taekwondo,Afghanistan,58 - 68 kg men,BRONZE,london-2012
4,Taekwondo,Afghanistan,Beijing 2008 Taekwondo - 58 kg men,BRONZE,beijing-2008

In [14]:
events_sort = [
    "Men's 4 x 400m Relay", "Men's 4 x 100m Relay", "Women's 4 x 400m Relay",
    "Women's 4 x 100m Relay", "Men's 4 x 200m Freestyle Relay", 
    "Men's 4 x 100m Freestyle Relay", "Women's 4 x 100m Freestyle Relay", 
    "Women's 4 x 200m Freestyle Relay"
]

teams_filtered = merged_filtered[merged_filtered['Event'].isin(events_sort)]

sorted_df = teams_filtered.sort_values(by='Event')

sorted_df.to_csv("Resources/event_sorted.csv", index= False)
sorted_df.head(50)

,Discipline,Country,Event,Medal Type,Country-Year
2597,Swimming,Canada,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
19144,Swimming,United States,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
9133,Swimming,Hungary,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
8592,Swimming,Greece,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
10244,Swimming,Italy,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
10245,Swimming,Italy,Men's 4 x 100m Freestyle Relay,SILVER,tokyo-2020
1750,Swimming,Brazil,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
8371,Swimming,Great Britain,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
10890,Swimming,Japan,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
18558,Swimming,Switzerland,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
14304,Swimming,ROC,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
15721,Swimming,Serbia,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
12071,Swimming,Netherlands,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
21930,Swimming,United States of America,Men's 4 x 100m Freestyle Relay,GOLD,tokyo-2020
14057,Swimming,Poland,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
5517,Swimming,France,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
7310,Swimming,Germany,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
754,Swimming,Australia,Men's 4 x 100m Freestyle Relay,BRONZE,tokyo-2020
753,Swimming,Australia,Men's 4 x 100m Freestyle Relay,NaN,paris-2024
4753,Athletics,France,Men's 4 x 100m Relay,NaN,paris-2024
18640,Athletics,Trinidad & Tobago,Men's 4 x 100m Relay,NaN,paris-2024
3452,Athletics,Denmark,Men's 4 x 100m Relay,NaN,paris-2024
7415,Athletics,Ghana,Men's 4 x 100m Relay,NaN,paris-2024
19123,Athletics,United States,Men's 4 x 100m Relay,NaN,paris-2024
7597,Athletics,Great Britain,Men's 4 x 100m Relay,NaN,paris-2024
2684,Athletics,China,Men's 4 x 100m Relay,NaN,paris-2024
7598,Athletics,Great Britain,Men's 4 x 100m Relay,SILVER,tokyo-2020
10396,Athletics,Jamaica,Men's 4 x 100m Relay,NaN,paris-2024
11588,Athletics,Netherlands,Men's 4 x 100m Relay,NaN,paris-2024
15876,Athletics,South Africa,Men's 4 x 100m Relay,NaN,paris-2024
10437,Athletics,Japan,Men's 4 x 100m Relay,NaN,paris-2024
1587,Athletics,Brazil,Men's 4 x 100m Relay,NaN,paris-2024
9573,Athletics,Italy,Men's 4 x 100m Relay,NaN,paris-2024
18684,Athletics,Turkey,Men's 4 x 100m Relay,NaN,paris-2024
2090,Athletics,Canada,Men's 4 x 100m Relay,BRONZE,tokyo-2020
6307,Athletics,Germany,Men's 4 x 100m Relay,NaN,paris-2024
9574,Athletics,Italy,Men's 4 x 100m Relay,GOLD,tokyo-2020
2089,Athletics,Canada,Men's 4 x 100m Relay,NaN,paris-2024
10248,Swimming,Italy,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
8375,Swimming,Great Britain,Men's 4 x 200m Freestyle Relay,GOLD,tokyo-2020
8374,Swimming,Great Britain,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
18559,Swimming,Switzerland,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
9135,Swimming,Hungary,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
10892,Swimming,Japan,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
14639,Swimming,Republic of Korea,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
7312,Swimming,Germany,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
14059,Swimming,Poland,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
14307,Swimming,ROC,Men's 4 x 200m Freestyle Relay,SILVER,tokyo-2020
9380,Swimming,Ireland,Men's 4 x 200m Freestyle Relay,NaN,paris-2024
9476,Swimming,Israel,Men's 4 x 200m Freestyle Relay,NaN,paris-2024